#_desktop_contact_link {
  float: left;
  #contact-link {
    a {
      color: #9E9E9E;
      text-decoration: none;
      padding: 10px 5px;
      display: block;
      background: white;
    }
  }
}